header{
    background-color: rgb(128, 128, 128);
    font-size: 2pc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    #top-title{
        color:white;
    }
}

main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

.catalogo-productos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.tarjeta-producto{
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.imagen-producto{
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
}

.precio-producto{
    color:#007bff;
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
}

.btn-agregar, .btn-eliminar{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    flex-grow: 1;
    margin:0 5px;
}

.resumen-carrito {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e9ecef;
    border-radius: 8px;
    border: 1px solid #ccc;
    text-align: center;
}